.menu .title::after {
    width: 90px;
    @include tab {
        width: 71px;
    }
    @include sp {
        width: 44px;
    }
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    @include tab {
        flex-direction: column;
    }
}

.menu-item {
    width: 271px;
    @include tab {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    @include sp {
        display: block;
    }
    &:not(:first-child) {
        @include tab {
            margin-top: 40px;
        }
        @include sp {
            margin-top: 60px;
        }
    }
    .menu-1-img {
        background-image: url(../img/jens-lindner-4i7-mcM7xSY-unsplash.png);
        @include sp {
            background-image: url(../img/jens-lindner-4i7-mcM7xSY-unsplash@2x_sp.png);
        }
        }
    .menu-2-img {
        background-image: url(../img/beautiful-beauty-female-247322.png);
        @include sp {
            background-image: url(../img/beautiful-beauty-female-247322@2x_sp.png);
        }
    }
    .menu-3-img {
        background-image: url(../img/edgar-perez-kTBJmeRbAbo-unsplash.png);
        @include sp {
            background-image: url(../img/edgar-perez-kTBJmeRbAbo-unsplash@2x_sp.png);
        }
    }
    &-img {
        width: 271px;
        height: 271px;
        background-size: cover;
        opacity: 0;
        @include sp {
            width: 100%;
            background-position-x: center;
        }
    }
     .show {
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }
    &-content {
        @include tab {
            margin-left: 10px;
            width: 350px;
        }
        @include sp {
            width: 85%;
            margin: 0 auto;
        }
    }
    &-title {
        text-align: center;
        font-size: 3.0rem;
        letter-spacing: 3px;
        margin-top: 37px;
        @include tab {
            text-align: left;
            margin-top: 0;
        }
        @include sp {
            margin-top: 30px;
        }
    }
    &-text {
        margin: 34px auto;
        width: 90%;
        letter-spacing: 1.6px;
        @include tab {
            margin: 30px 0;
            width: 100%;
        }
    }
    &-price {
        text-align: right;
        letter-spacing: 1.6px;
    }
}

